#button{
display: flex;
justify-content: center;

}


.edit {
display: flex;
background-color:#5cc23a;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:18px;
padding:10px 41px;
text-decoration:none;
text-shadow:-1px 2px 1px #2f6627;
margin-left: 50px;
}
.edit:hover {
background-color:#5cff61;
}
.edit:active {
position:relative;
top:1px;
}


.cancel {
display: flex;
background-color:#c62d1f;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:18px;
padding:10px 14px;
text-decoration:none;
text-shadow:-1px 2px 1px #810e05;
}
.cancel:hover {
background-color:#f24437;
}
.cancel:active {
position:relative;
top:1px;
}

p{
padding: 10px;
padding-bottom: 10px;

}

.title{
display: flex;
padding: 20px;
padding-left: 30px;


}

#ventana{
font-weight: bold;
}