*{
    box-sizing: border-box;
    font-family: Verdana;

}
.form__title{
    text-decoration:underline;
    margin-top: 0;
    font-size: 1cm ;
    text-align: center;

}
body{
    margin: 0px;
    font-family:Georgia;
    background:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items:flex-start;
    min-height: 150vh;
}

.form-register{
    width: 95%;
    max-width: 450px;
    background-color: rgb(231, 231, 231);
    padding: 30px;
}
.from__label{
    display: block;
    width: 30%;
    
}
.from__input{
    display: block;
    width: 70%;
    padding: 10px;
}

.container--flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    align-items: center;
}
.select{
    display: block;
    width: 70%;
    padding: 10px;
}
