.container {
  display: grid;
  grid-template-rows: 8vh 1fr;
  height: 100vh;
  background-color: #fafafa;
}

.container main {
  display: grid;
  grid-template-rows: 5vh 77vh 1fr;

  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.title {
  display: flex;
  align-items: center;
  font-size: 17px;
  padding-left: 2rem;
  color: #212121;
}

.loans-container {
  overflow: auto;
  padding: 0 2rem;
}

.loans-container table {
  width: 100%;
  border-collapse: collapse;
}

.loans-container table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*tr:nth-child(even) {
  background-color: #dddddd;
}*/

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  color: #212121;
  background-color: #fafafa;
  transition: background-color .3s ease 0s;
  cursor: default;
  box-shadow: 3px 0 4px rgba(0, 0, 0, .3);
}

.home-btn:hover {
  background-color: #d7d7d7;
}

/* Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.md { font-size: 2.5rem; }

/*
* SCROLLBAR
*
*/

.scrollbar::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: #fafafa;        /* color of the tracking area */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 20px;
  border: 2px solid #fafafa;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  border: 2px solid #a1a1a1;
}
